@import "tailwindcss";

:root {
  /* Light Theme */
  --background: #FFFFFF;
  --foreground: #09090B;
  
  --text-secondary: #71717A;
  --accent-blue: #007BFF;
  --accent-red: #EF4444;
  --accent-yellow: #EAB308;
  --accent-purple: #8b5cf6;
  
  --btn-bg: #F4F4F5;
  --btn-text: #18181B;
  --btn-hover: #E4E4E7;
  --card-bg: #FFFFFF;
  --border-color: #E4E4E7;
}

.dark {
  /* Dark Theme */
  --background: #000000;
  --foreground: #FFFFFF;
  
  --text-secondary: #B0B0B0;
  --accent-blue: #007BFF;
  --accent-red: #FF3B30;
  --accent-yellow: #FFD60A;
  --accent-purple: #8b5cf6;
  
  --btn-bg: #1C1C1E;
  --btn-text: #FFFFFF;
  --btn-hover: #2C2C2E;
  --card-bg: #1C1C1E;
  --border-color: #3A3A3C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  
  /* Expose custom colors to Tailwind */
  --color-secondary-text: var(--text-secondary);
  --color-accent-blue: var(--accent-blue);
  --color-accent-red: var(--accent-red);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-purple: var(--accent-purple);
  --color-btn-bg: var(--btn-bg);
  --color-btn-text: var(--btn-text);
  --color-btn-hover: var(--btn-hover);
  --color-card-bg: var(--card-bg);
  --color-border-custom: var(--border-color);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
